* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #111b27;
}

.tombol {
    display: inline-block;
    background-color: #2563eb;
    color: white;
    padding: 11px 18px;
    text-decoration: none;
    border-radius: 7px;
    margin-bottom: 20px;
}

.tombol:hover {
    bakground-color: #1d4ed8;
}

.tabel-produk {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabel-produk th {
    background-color: #2563eb;
    color: white;
    padding: 14px;
    text-align: center;
}

.tabel-produk th:nth-child(1) 
.tabel-produk th:nth-child(1) {
    width: 8%;
    text-align: center;
}

.tabel-produk th:nth-child(2)
.tabel-produk th:nth-child(2) {
    width: 8%;
    text-align: left;
}

.tabel-produk th:nth-child(3) 
.tabel-produk th:nth-child(3) {
    width: 22%;
    text-align: left;
}

.tabel-produk th:nth-child(4)
.tabel-produk th:nth-child(4) {
    width: 15%;
    text-align: center;
}

.tabel-produk th:nth-child(5)
.tabel-produk th:nth-child(5) {
    width: 25%;
    text-align: center;
}

.edit {
    display: inline-block;
    background-color: #f59e0b;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 7px;
    margin-right: 5px;
}

.edit:hover {
    background-color: #d97706;
}

.hapus {
    display: inline-block;
    background-color: #ef4444;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 5px
}

.hapus:hover {
    background-color: #dc2626;
}

@media (max-width: 700px) {
    .container {
        padding: 20px;
        overflow-x: auto;
    }

    .tabel-produk {
        max-width: 700px;
    }
}
